$padding: 8px;
$margin: 8px;


.p-1{
    padding: $padding*0.5;
}
.pt-1{
    padding-top: $padding*0.75;
}


.ml-auto{
    margin-left: auto;
}
.ml-3{
    margin-left: $margin*3;
}
.mr-1{
    margin-right: $margin/2;
}
.mr-2{
    margin-right: $margin*2;
}
.mr-3{
    margin-right: $margin*3;
}
.mr-6{
    margin-right: $margin*6;
}


.mb-3{
    margin-bottom: $margin*3;
}
.mb-4{
    margin-bottom: $margin*4;
}
.mb-6{
    margin-bottom: $margin*6;
}
.mb-7{
    margin-bottom: $margin*8;
}