$primary: #EDF4EE;
$secondary: #2A8356;


.content{
    width: 100%;
}

.container{
    margin-left: 296px;
    padding: 30px;
    width: 984px;
}
.bold{
    font-weight: bold;
}

.bg-primary {
    background: $primary;
}
.text-secondary {
    color: $secondary;
}
.text-dark {
    color: #000;
}
.text-right{
    text-align: right;
}

.bd-r{
    border-right: 1px solid  #2A8356;
}
.bd-b{
    border-bottom: 1px solid#CDDDCD;
}

.d-flex{
    display: flex;
}
.align-items{
    align-items: center;
}
.flex-end{
    justify-content: flex-end;
}