/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Roboto" ,"Noto Sans",sans-serif;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none; }

body {
  font-family: 'Lato','Roboto Mono', sans-serif; }

h2 {
  font-size: 24px;
  line-height: 29px; }

h3 {
  font-size: 16px;
  line-height: 19px; }

.material-icons {
  vertical-align: sub; }

.sidebar {
  padding: 32px 32px;
  position: fixed;
  min-width: 296px;
  min-height: 100vh; }

.navbar li:hover::before {
  content: '';
  border-left: 4px solid #2A8356;
  height: 32px;
  position: absolute;
  left: 0; }

.navbar a {
  padding: 8px;
  color: #000; }
  .navbar a:hover {
    color: #2A8356; }
  .navbar a:active {
    color: #2A8356; }

.thead {
  text-align: left;
  border-bottom: 1px solid #000; }
  .thead__id {
    width: 120px; }
  .thead__name {
    width: 230px; }
  .thead__email {
    width: 325px; }
  .thead__verified {
    width: 175px; }

.tbody tr {
  border-bottom: 1px solid #CDDDCD; }
  .tbody tr:hover {
    background: #EDF4EE; }

.tbody td {
  padding: 19px 0px 17px 0px; }

.tbody a {
  color: #000; }

.p-1 {
  padding: 4px; }

.pt-1 {
  padding-top: 6px; }

.ml-auto {
  margin-left: auto; }

.ml-3 {
  margin-left: 24px; }

.mr-1 {
  margin-right: 4px; }

.mr-2 {
  margin-right: 16px; }

.mr-3 {
  margin-right: 24px; }

.mr-6 {
  margin-right: 48px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-6 {
  margin-bottom: 48px; }

.mb-7 {
  margin-bottom: 64px; }

.content {
  width: 100%; }

.container {
  margin-left: 296px;
  padding: 30px;
  width: 984px; }

.bold {
  font-weight: bold; }

.bg-primary {
  background: #EDF4EE; }

.text-secondary {
  color: #2A8356; }

.text-dark {
  color: #000; }

.text-right {
  text-align: right; }

.bd-r {
  border-right: 1px solid  #2A8356; }

.bd-b {
  border-bottom: 1px solid #CDDDCD; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.align-items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.sidebar__logo {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/logo-ANSWER.svg");
  display: block;
  width: 153px;
  height: 42px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap; }

.info {
  position: fixed;
  bottom: 32px;
  left: 32px; }
  .info .user__pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .info .user__mail {
    font-size: 14px;
    line-height: 17px;
    color: #0000009A; }

.link__item {
  width: 32px;
  height: 32px;
  text-align: center;
  border: 1px solid #2A8356;
  border-right: none; }
  .link__item a {
    display: block; }
    .link__item a:hover {
      background-color: #2A8356;
      color: #fff; }
  .link__item .text-secondary {
    padding: 0 4px 4px 4px; }

/*# sourceMappingURL=all.css.map */
