
.thead{
    text-align: left;
    border-bottom: 1px solid #000;
    &__id{
        width: 120px;
    }
    &__name{
        width: 230px;
    }
    &__email{
        width: 325px;
    }
    &__verified{
        width: 175px;
    }
}
.tbody{
    tr{
        border-bottom: 1px solid #CDDDCD;
        &:hover{
            background: #EDF4EE;
        }
    }
    td{
        padding: 19px 0px 17px 0px;
    }
    a{
        color: #000;
    }
}